Myhire361/App_WebReferences/RRdev_WS_Candidate/WS_Candidate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.5:80/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.1.5:80/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.5:80/">
      <s:element name="WS_InsertUpdateRRRequest_IHUP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_Request_Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_RRNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Job_Profile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_Client_Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Total_Position" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Request_By" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Recieve_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Closer_Date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_RprtingMngrId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Criticality" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Designation" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_Location_Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Min_Salary" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="_Max_Salary" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="_Min_Experience" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="_Max_Experience" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="_Min_Qualification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_RSkills" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Request_Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_JobFile_Path" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_PositionType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_JobDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_PublishStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_ReferrerPts" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="_FuntionalAreaId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_PIndustryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_IndustryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Functional_Area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Preferred_Industry" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_PublishDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="_Industry" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertUpdateRRRequest_IHUPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_InsertUpdateRRRequest_IHUPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_H_RRDoNotPublish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_Request_Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_H_RRDoNotPublishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WS_H_RRDoNotPublishResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJobStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_RRCandidateId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJobStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertPointsCreditHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CandidateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RRCandidateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PointsCredit" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPointsCreditHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPointsCreditHistoryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_Cntry_Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_ACode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_State_Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_InsertStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UpdateState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_State_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ACode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_Cntry_Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_State_Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UpdateStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UpdateStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_State_Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_ACode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_City_Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_InsertCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UpdateCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_City_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ACode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_State_Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_City_Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UpdateCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UpdateCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_IU_FunctionaAreaDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_FunctAreaId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Remarks" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_IU_FunctionaAreaDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_IU_FunctionaAreaDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_IU_IndustryMaster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_IndustryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Remarks" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_IU_IndustryMasterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_IU_IndustryMasterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertUpdateClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ClientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_CityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Website" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_SmsAlert" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_EmailAlert" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_UserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_ClientSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertUpdateClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_InsertUpdateClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertUpdateContactPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_PersonId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_ClientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_PersonName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_PersonContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_PersonEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_PersonDob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_PersonAnnvrsry" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_IsAdmin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_LoggedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_InsertUpdateContactPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_InsertUpdateContactPersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateRRRequest_IHUP" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateRRRequest_IHUPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishSoapIn">
    <wsdl:part name="parameters" element="tns:WS_H_RRDoNotPublish" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishSoapOut">
    <wsdl:part name="parameters" element="tns:WS_H_RRDoNotPublishResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateJobStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateJobStatusResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPointsCreditHistorySoapIn">
    <wsdl:part name="parameters" element="tns:InsertPointsCreditHistory" />
  </wsdl:message>
  <wsdl:message name="InsertPointsCreditHistorySoapOut">
    <wsdl:part name="parameters" element="tns:InsertPointsCreditHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateSoapIn">
    <wsdl:part name="parameters" element="tns:WS_InsertState" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateSoapOut">
    <wsdl:part name="parameters" element="tns:WS_InsertStateResponse" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateSoapIn">
    <wsdl:part name="parameters" element="tns:WS_UpdateState" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateSoapOut">
    <wsdl:part name="parameters" element="tns:WS_UpdateStateResponse" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCitySoapIn">
    <wsdl:part name="parameters" element="tns:WS_InsertCity" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCitySoapOut">
    <wsdl:part name="parameters" element="tns:WS_InsertCityResponse" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCitySoapIn">
    <wsdl:part name="parameters" element="tns:WS_UpdateCity" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCitySoapOut">
    <wsdl:part name="parameters" element="tns:WS_UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailSoapIn">
    <wsdl:part name="parameters" element="tns:WS_IU_FunctionaAreaDetail" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailSoapOut">
    <wsdl:part name="parameters" element="tns:WS_IU_FunctionaAreaDetailResponse" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterSoapIn">
    <wsdl:part name="parameters" element="tns:WS_IU_IndustryMaster" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterSoapOut">
    <wsdl:part name="parameters" element="tns:WS_IU_IndustryMasterResponse" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientSoapIn">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateClient" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientSoapOut">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonSoapIn">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateContactPerson" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonSoapOut">
    <wsdl:part name="parameters" element="tns:WS_InsertUpdateContactPersonResponse" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPHttpGetIn">
    <wsdl:part name="_Request_Id" type="s:string" />
    <wsdl:part name="_RRNumber" type="s:string" />
    <wsdl:part name="_Job_Profile" type="s:string" />
    <wsdl:part name="_Client_Id" type="s:string" />
    <wsdl:part name="_Total_Position" type="s:string" />
    <wsdl:part name="_Request_By" type="s:string" />
    <wsdl:part name="_Recieve_Date" type="s:string" />
    <wsdl:part name="_Closer_Date" type="s:string" />
    <wsdl:part name="_RprtingMngrId" type="s:string" />
    <wsdl:part name="_Criticality" type="s:string" />
    <wsdl:part name="_Designation" type="s:string" />
    <wsdl:part name="_Location_Id" type="s:string" />
    <wsdl:part name="_Min_Salary" type="s:string" />
    <wsdl:part name="_Max_Salary" type="s:string" />
    <wsdl:part name="_Min_Experience" type="s:string" />
    <wsdl:part name="_Max_Experience" type="s:string" />
    <wsdl:part name="_Min_Qualification" type="s:string" />
    <wsdl:part name="_RSkills" type="s:string" />
    <wsdl:part name="_Request_Status" type="s:string" />
    <wsdl:part name="_JobFile_Path" type="s:string" />
    <wsdl:part name="_PositionType" type="s:string" />
    <wsdl:part name="_JobDescription" type="s:string" />
    <wsdl:part name="_PublishStatus" type="s:string" />
    <wsdl:part name="_ReferrerPts" type="s:string" />
    <wsdl:part name="_FuntionalAreaId" type="s:string" />
    <wsdl:part name="_PIndustryId" type="s:string" />
    <wsdl:part name="_IndustryId" type="s:string" />
    <wsdl:part name="_Functional_Area" type="s:string" />
    <wsdl:part name="_Preferred_Industry" type="s:string" />
    <wsdl:part name="_PublishDate" type="s:string" />
    <wsdl:part name="_Industry" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishHttpGetIn">
    <wsdl:part name="_Request_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusHttpGetIn">
    <wsdl:part name="Status" type="s:string" />
    <wsdl:part name="_RRCandidateId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusHttpGetOut" />
  <wsdl:message name="InsertPointsCreditHistoryHttpGetIn">
    <wsdl:part name="CandidateId" type="s:string" />
    <wsdl:part name="RRCandidateId" type="s:string" />
    <wsdl:part name="PointsCredit" type="s:string" />
    <wsdl:part name="CreditDate" type="s:string" />
    <wsdl:part name="LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertPointsCreditHistoryHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateHttpGetIn">
    <wsdl:part name="_Cntry_Id" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_State_Name" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateHttpGetIn">
    <wsdl:part name="_State_Name" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_Cntry_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
    <wsdl:part name="_State_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCityHttpGetIn">
    <wsdl:part name="_State_Id" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_City_Name" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCityHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCityHttpGetIn">
    <wsdl:part name="_City_Name" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_State_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
    <wsdl:part name="_City_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCityHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailHttpGetIn">
    <wsdl:part name="_FunctAreaId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Remarks" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterHttpGetIn">
    <wsdl:part name="_IndustryId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Remarks" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientHttpGetIn">
    <wsdl:part name="_ClientId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Code" type="s:string" />
    <wsdl:part name="_CityId" type="s:string" />
    <wsdl:part name="_Website" type="s:string" />
    <wsdl:part name="_SmsAlert" type="s:string" />
    <wsdl:part name="_EmailAlert" type="s:string" />
    <wsdl:part name="_UserId" type="s:string" />
    <wsdl:part name="_ClientSource" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonHttpGetIn">
    <wsdl:part name="_PersonId" type="s:string" />
    <wsdl:part name="_ClientId" type="s:string" />
    <wsdl:part name="_PersonName" type="s:string" />
    <wsdl:part name="_PersonContact" type="s:string" />
    <wsdl:part name="_PersonEmail" type="s:string" />
    <wsdl:part name="_PersonDob" type="s:string" />
    <wsdl:part name="_PersonAnnvrsry" type="s:string" />
    <wsdl:part name="_IsAdmin" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPHttpPostIn">
    <wsdl:part name="_Request_Id" type="s:string" />
    <wsdl:part name="_RRNumber" type="s:string" />
    <wsdl:part name="_Job_Profile" type="s:string" />
    <wsdl:part name="_Client_Id" type="s:string" />
    <wsdl:part name="_Total_Position" type="s:string" />
    <wsdl:part name="_Request_By" type="s:string" />
    <wsdl:part name="_Recieve_Date" type="s:string" />
    <wsdl:part name="_Closer_Date" type="s:string" />
    <wsdl:part name="_RprtingMngrId" type="s:string" />
    <wsdl:part name="_Criticality" type="s:string" />
    <wsdl:part name="_Designation" type="s:string" />
    <wsdl:part name="_Location_Id" type="s:string" />
    <wsdl:part name="_Min_Salary" type="s:string" />
    <wsdl:part name="_Max_Salary" type="s:string" />
    <wsdl:part name="_Min_Experience" type="s:string" />
    <wsdl:part name="_Max_Experience" type="s:string" />
    <wsdl:part name="_Min_Qualification" type="s:string" />
    <wsdl:part name="_RSkills" type="s:string" />
    <wsdl:part name="_Request_Status" type="s:string" />
    <wsdl:part name="_JobFile_Path" type="s:string" />
    <wsdl:part name="_PositionType" type="s:string" />
    <wsdl:part name="_JobDescription" type="s:string" />
    <wsdl:part name="_PublishStatus" type="s:string" />
    <wsdl:part name="_ReferrerPts" type="s:string" />
    <wsdl:part name="_FuntionalAreaId" type="s:string" />
    <wsdl:part name="_PIndustryId" type="s:string" />
    <wsdl:part name="_IndustryId" type="s:string" />
    <wsdl:part name="_Functional_Area" type="s:string" />
    <wsdl:part name="_Preferred_Industry" type="s:string" />
    <wsdl:part name="_PublishDate" type="s:string" />
    <wsdl:part name="_Industry" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateRRRequest_IHUPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishHttpPostIn">
    <wsdl:part name="_Request_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_H_RRDoNotPublishHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusHttpPostIn">
    <wsdl:part name="Status" type="s:string" />
    <wsdl:part name="_RRCandidateId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateJobStatusHttpPostOut" />
  <wsdl:message name="InsertPointsCreditHistoryHttpPostIn">
    <wsdl:part name="CandidateId" type="s:string" />
    <wsdl:part name="RRCandidateId" type="s:string" />
    <wsdl:part name="PointsCredit" type="s:string" />
    <wsdl:part name="CreditDate" type="s:string" />
    <wsdl:part name="LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertPointsCreditHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateHttpPostIn">
    <wsdl:part name="_Cntry_Id" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_State_Name" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertStateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateHttpPostIn">
    <wsdl:part name="_State_Name" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_Cntry_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
    <wsdl:part name="_State_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateStateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCityHttpPostIn">
    <wsdl:part name="_State_Id" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_City_Name" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertCityHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCityHttpPostIn">
    <wsdl:part name="_City_Name" type="s:string" />
    <wsdl:part name="_ACode" type="s:string" />
    <wsdl:part name="_State_Id" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
    <wsdl:part name="_City_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_UpdateCityHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailHttpPostIn">
    <wsdl:part name="_FunctAreaId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Remarks" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_FunctionaAreaDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterHttpPostIn">
    <wsdl:part name="_IndustryId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Remarks" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_IU_IndustryMasterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientHttpPostIn">
    <wsdl:part name="_ClientId" type="s:string" />
    <wsdl:part name="_Name" type="s:string" />
    <wsdl:part name="_Code" type="s:string" />
    <wsdl:part name="_CityId" type="s:string" />
    <wsdl:part name="_Website" type="s:string" />
    <wsdl:part name="_SmsAlert" type="s:string" />
    <wsdl:part name="_EmailAlert" type="s:string" />
    <wsdl:part name="_UserId" type="s:string" />
    <wsdl:part name="_ClientSource" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateClientHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonHttpPostIn">
    <wsdl:part name="_PersonId" type="s:string" />
    <wsdl:part name="_ClientId" type="s:string" />
    <wsdl:part name="_PersonName" type="s:string" />
    <wsdl:part name="_PersonContact" type="s:string" />
    <wsdl:part name="_PersonEmail" type="s:string" />
    <wsdl:part name="_PersonDob" type="s:string" />
    <wsdl:part name="_PersonAnnvrsry" type="s:string" />
    <wsdl:part name="_IsAdmin" type="s:string" />
    <wsdl:part name="_LoggedBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_InsertUpdateContactPersonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WS_CandidateSoap">
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update RR-JobRequest with publish)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateRRRequest_IHUPSoapIn" />
      <wsdl:output message="tns:WS_InsertUpdateRRRequest_IHUPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">H_RRJobs UnPublish)</wsdl:documentation>
      <wsdl:input message="tns:WS_H_RRDoNotPublishSoapIn" />
      <wsdl:output message="tns:WS_H_RRDoNotPublishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change OverAllStatus)</wsdl:documentation>
      <wsdl:input message="tns:UpdateJobStatusSoapIn" />
      <wsdl:output message="tns:UpdateJobStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Credit Points on Selection)</wsdl:documentation>
      <wsdl:input message="tns:InsertPointsCreditHistorySoapIn" />
      <wsdl:output message="tns:InsertPointsCreditHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertState)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertStateSoapIn" />
      <wsdl:output message="tns:WS_InsertStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_UpdateState)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateStateSoapIn" />
      <wsdl:output message="tns:WS_UpdateStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertCitySoapIn" />
      <wsdl:output message="tns:WS_InsertCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_ UpdateCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateCitySoapIn" />
      <wsdl:output message="tns:WS_UpdateCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update FunctionalAreaDetails)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_FunctionaAreaDetailSoapIn" />
      <wsdl:output message="tns:WS_IU_FunctionaAreaDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Industry)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_IndustryMasterSoapIn" />
      <wsdl:output message="tns:WS_IU_IndustryMasterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Client)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateClientSoapIn" />
      <wsdl:output message="tns:WS_InsertUpdateClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Contact Person)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateContactPersonSoapIn" />
      <wsdl:output message="tns:WS_InsertUpdateContactPersonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_CandidateHttpGet">
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update RR-JobRequest with publish)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateRRRequest_IHUPHttpGetIn" />
      <wsdl:output message="tns:WS_InsertUpdateRRRequest_IHUPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">H_RRJobs UnPublish)</wsdl:documentation>
      <wsdl:input message="tns:WS_H_RRDoNotPublishHttpGetIn" />
      <wsdl:output message="tns:WS_H_RRDoNotPublishHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change OverAllStatus)</wsdl:documentation>
      <wsdl:input message="tns:UpdateJobStatusHttpGetIn" />
      <wsdl:output message="tns:UpdateJobStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Credit Points on Selection)</wsdl:documentation>
      <wsdl:input message="tns:InsertPointsCreditHistoryHttpGetIn" />
      <wsdl:output message="tns:InsertPointsCreditHistoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertState)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertStateHttpGetIn" />
      <wsdl:output message="tns:WS_InsertStateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_UpdateState)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateStateHttpGetIn" />
      <wsdl:output message="tns:WS_UpdateStateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertCityHttpGetIn" />
      <wsdl:output message="tns:WS_InsertCityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_ UpdateCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateCityHttpGetIn" />
      <wsdl:output message="tns:WS_UpdateCityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update FunctionalAreaDetails)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_FunctionaAreaDetailHttpGetIn" />
      <wsdl:output message="tns:WS_IU_FunctionaAreaDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Industry)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_IndustryMasterHttpGetIn" />
      <wsdl:output message="tns:WS_IU_IndustryMasterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Client)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateClientHttpGetIn" />
      <wsdl:output message="tns:WS_InsertUpdateClientHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Contact Person)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateContactPersonHttpGetIn" />
      <wsdl:output message="tns:WS_InsertUpdateContactPersonHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_CandidateHttpPost">
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update RR-JobRequest with publish)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateRRRequest_IHUPHttpPostIn" />
      <wsdl:output message="tns:WS_InsertUpdateRRRequest_IHUPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">H_RRJobs UnPublish)</wsdl:documentation>
      <wsdl:input message="tns:WS_H_RRDoNotPublishHttpPostIn" />
      <wsdl:output message="tns:WS_H_RRDoNotPublishHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change OverAllStatus)</wsdl:documentation>
      <wsdl:input message="tns:UpdateJobStatusHttpPostIn" />
      <wsdl:output message="tns:UpdateJobStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Credit Points on Selection)</wsdl:documentation>
      <wsdl:input message="tns:InsertPointsCreditHistoryHttpPostIn" />
      <wsdl:output message="tns:InsertPointsCreditHistoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertState)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertStateHttpPostIn" />
      <wsdl:output message="tns:WS_InsertStateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_UpdateState)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateStateHttpPostIn" />
      <wsdl:output message="tns:WS_UpdateStateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_InsertCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertCityHttpPostIn" />
      <wsdl:output message="tns:WS_InsertCityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WS_ UpdateCity)</wsdl:documentation>
      <wsdl:input message="tns:WS_UpdateCityHttpPostIn" />
      <wsdl:output message="tns:WS_UpdateCityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update FunctionalAreaDetails)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_FunctionaAreaDetailHttpPostIn" />
      <wsdl:output message="tns:WS_IU_FunctionaAreaDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Industry)</wsdl:documentation>
      <wsdl:input message="tns:WS_IU_IndustryMasterHttpPostIn" />
      <wsdl:output message="tns:WS_IU_IndustryMasterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Client)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateClientHttpPostIn" />
      <wsdl:output message="tns:WS_InsertUpdateClientHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Update Contact Person)</wsdl:documentation>
      <wsdl:input message="tns:WS_InsertUpdateContactPersonHttpPostIn" />
      <wsdl:output message="tns:WS_InsertUpdateContactPersonHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_CandidateSoap" type="tns:WS_CandidateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <soap:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateRRRequest_IHUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <soap:operation soapAction="http://192.168.1.5:80/WS_H_RRDoNotPublish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <soap:operation soapAction="http://192.168.1.5:80/UpdateJobStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <soap:operation soapAction="http://192.168.1.5:80/InsertPointsCreditHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <soap:operation soapAction="http://192.168.1.5:80/WS_InsertState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <soap:operation soapAction="http://192.168.1.5:80/WS_UpdateState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <soap:operation soapAction="http://192.168.1.5:80/WS_InsertCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <soap:operation soapAction="http://192.168.1.5:80/WS_UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <soap:operation soapAction="http://192.168.1.5:80/WS_IU_FunctionaAreaDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <soap:operation soapAction="http://192.168.1.5:80/WS_IU_IndustryMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <soap:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <soap:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateContactPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_CandidateSoap12" type="tns:WS_CandidateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateRRRequest_IHUP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_H_RRDoNotPublish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <soap12:operation soapAction="http://192.168.1.5:80/UpdateJobStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <soap12:operation soapAction="http://192.168.1.5:80/InsertPointsCreditHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_InsertState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_UpdateState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_InsertCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_UpdateCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_IU_FunctionaAreaDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_IU_IndustryMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <soap12:operation soapAction="http://192.168.1.5:80/WS_InsertUpdateContactPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_CandidateHttpGet" type="tns:WS_CandidateHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <http:operation location="/WS_InsertUpdateRRRequest_IHUP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <http:operation location="/WS_H_RRDoNotPublish" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <http:operation location="/UpdateJobStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <http:operation location="/InsertPointsCreditHistory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <http:operation location="/WS_InsertState" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <http:operation location="/WS_UpdateState" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <http:operation location="/WS_InsertCity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <http:operation location="/WS_UpdateCity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <http:operation location="/WS_IU_FunctionaAreaDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <http:operation location="/WS_IU_IndustryMaster" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <http:operation location="/WS_InsertUpdateClient" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <http:operation location="/WS_InsertUpdateContactPerson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_CandidateHttpPost" type="tns:WS_CandidateHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WS_InsertUpdateRRRequest_IHUP">
      <http:operation location="/WS_InsertUpdateRRRequest_IHUP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_H_RRDoNotPublish">
      <http:operation location="/WS_H_RRDoNotPublish" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobStatus">
      <http:operation location="/UpdateJobStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertPointsCreditHistory">
      <http:operation location="/InsertPointsCreditHistory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertState">
      <http:operation location="/WS_InsertState" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateState">
      <http:operation location="/WS_UpdateState" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertCity">
      <http:operation location="/WS_InsertCity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UpdateCity">
      <http:operation location="/WS_UpdateCity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_FunctionaAreaDetail">
      <http:operation location="/WS_IU_FunctionaAreaDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_IU_IndustryMaster">
      <http:operation location="/WS_IU_IndustryMaster" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateClient">
      <http:operation location="/WS_InsertUpdateClient" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_InsertUpdateContactPerson">
      <http:operation location="/WS_InsertUpdateContactPerson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Candidate">
    <wsdl:port name="WS_CandidateSoap" binding="tns:WS_CandidateSoap">
      <soap:address location="http://www.indiahiring.org/Websrvcs/WS_Candidate.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_CandidateSoap12" binding="tns:WS_CandidateSoap12">
      <soap12:address location="http://www.indiahiring.org/Websrvcs/WS_Candidate.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_CandidateHttpGet" binding="tns:WS_CandidateHttpGet">
      <http:address location="http://www.indiahiring.org/Websrvcs/WS_Candidate.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_CandidateHttpPost" binding="tns:WS_CandidateHttpPost">
      <http:address location="http://www.indiahiring.org/Websrvcs/WS_Candidate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>